*{
    padding: 0;
    margin: 0;
  }
  
  body{
    background: #293462;
  }
  .ice-cream{
    width: 100px;
    height: 150px;
    background: #FFF1C1;
    border-radius: 100px 100px 40px 40px;
    position: absolute;
    left: 150px;
    top: 50px;
  }
  .stick{
    width: 30px;
    height: 40px;
    background:#FE5F55;
    position: relative; 
    top: 160px;
    left: 35px;
    border-radius: 0 0 10px 10px;
  }
  .stick:before{
    content: '';
    height: 10px;
    width: 30px;
    position: absolute;
    background: #A64942;
    top: -10px;
  }