*{
    margin: 0;
    padding: 0;
  }
  body{
    background: #1A4341;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100vh;
  }
  .circle{
    width: 50px;
    height: 50px;
    background: #998235;
    border-radius: 50%;
  }
  .semi-circle{
    width: 50px;
    height: 50px;
    background: #F3AC3C;
    border-radius: 50% 50% 0 0 ;
  }
  .top-section{
    display: flex;
    gap: 1.3em;
  }
  .bottom-section{
    display: flex;
    gap: 1.3em;
  }
  .bottom-section > .semi-circle{
    width: 50px;
    height: 50px;
    background: #F3AC3C;
    border-radius: 0 0  50% 50% ;
  }
  div{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }
 .semi-circle:nth-child(3),.semi-circle:nth-child(4){
    background: #998235;
  }
  .circle:nth-child(4),.circle:nth-child(3){
    background: #F3AC3C;
  }